@import "colors.css";

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  min-height: 0;
}

#waybar {
  background: @ctp-base;
  color: @ctp-text;
  margin: 5px 5px;
}

#custom-music,
#backlight,
#clock,
#battery,
#network,
#custom-lock,
#custom-power,
#custom-drawericon,
#custom-app-drawer,
#custom-notification,
#pulseaudio,
#pulseaudio-control,
#backlight,
#pa-up,
#custom-wb-touch-on,
#custom-wb-touch-off,
#pa-down,
#idle_inhibitor,
#privacy,
#taskbar,
#temperature,
#bluetooth,
#cpu,
#submap
{
  color: @ctp-lavender;
  font-size: 15px;
  padding: 0rem 1rem 0rem 1rem;
}

#tray-status,
#tray-icons,
#tray-controls,
#workspaces,
#window,
#taskbar,
#custom-notification,
#submap
 {
  font-size: 15px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0.35rem;
  background-color: @ctp-surface0;
  color: @ctp-lavender;
  padding: 0rem 0.5rem;
}



window#waybar.empty #window {  
  background:none;  
 }  
 window#waybar.empty{  
   background:none;  
  }  




#workspaces button {
  color: @ctp-lavender;
  margin: 0.1rem;
}

#workspaces button.active {
  color: @ctp-sky;
  font-size: 15px;
}

#workspaces button:hover {
  color: @ctp-sapphire;
  border-radius: 0.5rem;
}


#battery.charging {
  color: @ctp-green;
}

#battery.warning:not(.charging) {
  color: @ctp-red;
}
